/* 

-------------------------------------------------------------

PERK

*/

.perk {
	padding:200px 0px;
	border-top:2px solid #e3e3e3;	

	b {
		font-weight:$bold;
		text-transform:uppercase;
	}

	.column-right {
		width:37.5%;
		margin-right:8.333%;
	}

	.btn { margin-top:40px; }
}