/* 

-------------------------------------------------------------

GLOBAL

*/

html, body { height:100%; }

body { 
	padding:0px; 
	margin:0px; 
}

.viewport { 
	position:relative;
	overflow:hidden; 
	width:100%; 
	z-index:0;
}

body.body-modal-open { 
	overflow:hidden; 
	height:100%;
	position:relative;
	z-index:0;

	.viewport {
		position:fixed;
		height:auto;
		overflow:hidden;
	}
	
}

.container { 
	margin:auto; 
	width:1200px; 
	position:relative; 

	@include breakpoint(large) { 
		width:900px;
	}
	@include breakpoint(medium) {
		width:650px;
	}
	@include breakpoint(small) {
		width:auto;
		margin:0px 20px;
	}
}

/* general */

img { max-width:100%; }

.borderbox { 
	box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
}

.hide-ipad {
	@include breakpoint(medium) { display:none; }
}

.hide-mobile {
	@include breakpoint(small) { display:none; }
}