/* 

-------------------------------------------------------------

TYPOGRAPHY

*/

@font-face {
  font-family: $heading-font-family;
  src: url('../fonts/2C10B3_0_0.eot');
  src: url('../fonts/2C10B3_0_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/2C10B3_0_0.woff') format('woff'),
       url('../fonts/2C10B3_0_0.ttf') format('truetype');
}

body { 
	font-family:$primary-font-family; 
	font-weight:$primary-font-weight;
	font-size:$primary-font-size;
	color:$primary-font-color;
	line-height:$primary-line-height;
}

h1, h2, h3, h4 {
	font-family:$heading-font-family;
	margin:0px;
	padding:0px;
	color:$black;
	text-transform:uppercase;
	font-weight:normal;

	span {
		color:$blue;
	}
}

h1 {
	font-size:70px;
	line-height:70px;

	@include breakpoint(large) { 
		font-size:65px;
		line-height:65px;
	}

	@include breakpoint(medium) { 
		font-size:55px;
		line-height:55px;
	}

	@include breakpoint(small) { 
		font-size:45px;
		line-height:45px;
	}
}

h2 {
	font-size:45px;
	line-height:45px;

	@include breakpoint(large) { 
		font-size:40px;
		line-height:40px;
	}

	@include breakpoint(small) { 
		font-size:30px;
		line-height:30px;
	}
}

h3 {
	font-size:25px;
	line-height:25px;
}

h4 {
	font-size:18px;
	line-height:18px;
}

a {
	@include transition(all 0.5s $easeOutQuint);
	color:$blue;
	text-decoration:none;

	img { border:none; }
}

p {
	margin-top:20px;
	margin-bottom:30px;
}

p.larger {
	font-size:25px;
	line-height:40px;
	margin-top:10px;
	margin-bottom:40px;
	font-weight:$light;

	@include breakpoint(large) { 
		font-size:22px;
		line-height:38px;
	}

	@include breakpoint(small) { 
		font-size:18px;
		line-height:34px;
	}
}