/* 

-------------------------------------------------------------

VARIABLES

*/

// Colors
$black   : #000000;
$white   : #ffffff;
$gray    : #f7f7f7;
$blue    : #00bff1;

// Font weights
$light 	 : 300;
$regular : 400;
$medium  : 700;
$bold    : 900;

// Primary Font
$primary-font-family : 'Lato', sans-serif;
$primary-font-weight : $regular;
$primary-font-size   : 16px;
$primary-font-color  : #191919;
$primary-line-height : 30px;

// Heading Fonts
$heading-font-family : 'TradeGothicLT-BoldCondTwenty';

// Transitions
$default-transition-property : all;
$default-transition-duration : 1s;
$default-transition-function : false;
$default-transition-delay    : false;

// Easing
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000); 